<!-- COMMENT PARTIAL -->

<!-- PARTIAL, LOADED BASED ON IF COMMENT IS ARCHIVED OR NOT -->
<% unless comment.archived? %>

  <!-- LOADING COMMENTS FROM DATABASE -->

  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <!-- LINK TO COMMENT CONTROLLER TO ALLOW DELETION -->
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
<% end %>
