<!-- DIV CLASS TO CONTAIN EDIT BLOG ARTICLE -->
<div class="container article-padding mt-5 pt-5">
    <h1 class="gradient mb-4 pb-4">Edit Blog Article</h1>
    <div class="container">
        <!-- RENDERS FORM PARTIAL -->
        <%= render "form", article: @article %>
    </div>
</div>
