<!-- MOBILE VIEW about section :) -->
<div class="container pt-3 mt-3 mobile text-center">
  <h1 class="hidden right-slide sectionheadermb-3 pb-3">About me</h1>
  <%= image_tag "aboutimg.jpg", class: "rounded shadow-lg about-img"%>
  <h2 class="mt-3"><b>I am Jack</b></h2>
  <h5 class="mb-3">Software developer & Entrepeneur</h5>  
  <p>Founding my sole-proprietary business of <b>JPGIO Developments</b>
  in Q1 of 2023 with major personal success! Having <b>over a decade</b> of experience within numerous sectors of
  software development, ranging from <b>DevOps </b>(Delivery, dockerisation, Cloud) to <b>Data-Science</b>
  (Pandas, Tensorflow, NumPy) to <b>Full-Stack developments</b> (Rails, svelte, bootstrap, HTML/CSS/JS).</p>
  <p>Such examples, <b>including this very website</b>, are documented below.
  As well as the experienced background, I also have an extensive academic background in the business sector which adds
  <b>further value</b> to my work as a professional Software Developer. This includes GSCE's and A-levels to grade-A standards
  in multiple STEM curriculums, including first-and-foremost, <b>Computer-Science.</b></p>  
</div>


<!-- MOBILE VIEW expertise :) -->
<div class="mobile">
  <h1>Expertise</h1>
</div>


<!-- MOBILE VIEW projects :) -->
<div class="mobile">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> 
</div>

