<!-- Contact socials images -->
<div class="icon-wrapper mb-3">
  <a href="https://www.instagram.com/jpgiodevs/"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png" class="contacts-icon small" alt="instaicon"></a>
  <a href="https://github.com/JPGIODevs"><img src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png" class="contacts-icon small" alt="instaicon"></a>
  <a href="mailto:jpgiodevelopments@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/2089/2089181.png" class="contacts-icon small" alt="instaicon"></a>
  <a href="https://www.linkedin.com/in/jack-packham-b197b6261/"><img src="https://cdn-icons-png.flaticon.com/512/2582/2582575.png" class="contacts-icon small" alt="instaicon"></a>
</div>
<%= link_to "https://drive.google.com/file/d/138vcpur62476079_W1XzLPlEyyHcaj71/view?usp=sharing" do %>
  <button type="button" class="btn btn-outline-light shadow resume-button">Download Resume</button>
<% end%>

