<div id="carouselExampleCaptions" class="carousel slide carousel-fade my-carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner shadow-4-strong">
    <div class="carousel-item active c-item">
      <img src="https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1806&q=80" class="d-block w-100 c-img" alt="slide1">
      <div class="carousel-caption d-none d-md-block">
        <h5>First-class <b>Web Development</b> with Ruby-on-Rails</h5>
        <p>Utilising <i>Hotwire</i> to power scalable web-apps with Ruby on the backend!</p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100 c-img" alt="slide2">
      <div class="carousel-caption d-none d-md-block">
        <h5><b>Passion</b> in modern technology</h5>
        <p>I have invested heavily into future technologies such as <i>Rust, Tauri, SurrealDB</i></p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="https://images.unsplash.com/photo-1540397106260-e24a507a08ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1766&q=80" class="d-block w-100 c-img" alt="slide3">
      <div class="carousel-caption d-none d-md-block">
        <h5><b>AI, Machine-learning</b> and <b>data-science</b> driven!</h5>
        <p>Using Python alongside popular libaries, such as <i>PANDAS, Tensorflow and numPy</i> to excel</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>

<div class='container'>
  <h1 class="py-5">Home</h1>
  <hr>
  <p>Finally feel like im doing something!</p>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
