<div class="container text-center" style="height:100dvh;">
    <h1 class="mt-5 pt-5">Project under development :)</h1>
    <p>~</p>
    <h5>Hang tight! We are working our hardest to make our concepts come true for you1</h5>
    <%= image_tag "https://thumbs.gfycat.com/MasculineGleamingBuffalo-max-1mb.gif", style: "filter:invert(1);", class: "pb-5 mb-5", alt: "running"%>
</div>



<!-- hackiest spacer ever -->
<div style="top:100vh"><br/></div>
