<%= stylesheet_link_tag "projects"%>
<!-- text stuff -->
<div class="container pt-5 mt-5">
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col">
                <%= image_tag "portfolio/firstdesign.png", class: "project-beforepic hidden rounded"%>
                <br/>
            </div>

            <div class="col float-text">
                <h1 class="hidden right-slide font-monospace" style="font-size:50px;">How this idea...</h2>
                <p style="color:white;"><b>Born from the mind's eye</b> of a (then) Automotive-Engineer in his spare time.
                <b>Dreaming</b> of becoming involved in the programming eco-system</p>
            </div>
        </div>
    </div>
    <br class="m-5 p-5"/>
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col float-text">
                <h1 class="hidden left-slide font-monospace" style="font-size:50px;">Became This!</h2>
                <p style="color:white;">A Reactive, Responsive Ruby-on-Rails website Fuelled by <b>Hotwire & Javascript</b>
                for showcasing the work <b>I am proud to be part of!</b></p>
            </div>
            <div class="col" style="right:20vw;text-align:center;">
                <%= image_tag "portfolio/firstdesign.png", class: "project-beforepic hidden rounded"%>
                <br/>
            </div>
        </div>
    </div>
    <div class="container hidden" style="text-align:center;">
        <h1 style><b>Ruby-on-Rails</b>, old is gold <b>🏅</b></h1>
        <br/>
        <p>Utilising a mix of Rails 7, Bootstrap 5 and some old-fashioned HTML/CSS/JS,
        I have created a personal portfolio website that is <b>not only visually stunning</b>
        but also, thanks to the <b>Hotwire Frontend</b>, is also responsive, reactive and fast!
        <b>Over a period of a couple months</b>, I taught myself the fine details of Rails development
        and nurtued the skill of MVC web development <b>alongside Turbo Frames & Streams.</b>
        So much so, infact, that I created <span><a href=""><b>Manifold Chat</b></a></span> Utilising
        Rails & Hotwire alongside TailwindCSS.
        </p>
    </div>
</div>
