<%= stylesheet_link_tag "projects"%>
<!-- Scrolly pictures -->
<div class="hidden portcontainer topcontainer">
    <%= image_tag "caro1.avif", class: "portpic", alt: "portbefore" %>
</div>
<div class="hidden portcontainer bottomcontainer">
    <%= image_tag "projects/portplan.png", class: "portpic", alt: "portafter" %>
</div>

