<%= stylesheet_link_tag "projects"%>
<!-- text stuff -->
<div class="container pt-5 mt-5">
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col">
                <%= image_tag "portfolio/firstdesign.png", class: "project-beforepic hidden rounded"%>
                <br/>
            </div>

            <div class="col float-text">
                <h1 class="hidden right-slide font-monospace" style="font-size:50px;">How this idea...</h2>
                <p style="color:white;"><b>Born from the mind's eye</b> of a (then) Automotive-Engineer in his spare time.
                <b>Dreaming</b> of becoming involved in the programming eco-system</p>
            </div>
        </div>
    </div>
    <br class="m-5 p-5"/>
    <div class="container">
        <div class='row m-5 p-5 align-items-center'>
            <div class="col float-text">
                <h1 class="hidden left-slide font-monospace" style="font-size:50px;">Became This!</h2>
                <p style="color:white;">A Reactive, Responsive Ruby-on-Rails website Fuelled by <b>Hotwire & Javascript</b>
                for showcasing the work <b>I am proud to be part of!</b></p>
            </div>
            <div class="col" style="right:20vw;text-align:center;">
                <%= image_tag "portfolio/firstdesign.png", class: "project-beforepic hidden rounded"%>
                <br/>
            </div>
        </div>
    </div>

    <h1>Words n stuff very cool</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
    Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</div>
