<%= stylesheet_link_tag "specials"%>

<div class="shembuffer">
  <h1>I love you!!!</h1>

  <%= image_tag "special/chlo.JPG", class: "chlopic"%>
  <div class="poem text-center">
    <p>My Dearest Chlo-Bo,<br>
    <br>
    Just like maple syrup sweetens the morning pancakes, your presence in my life adds unparalleled sweetness to my every day. Your kindness flows like the mighty Niagara Falls, strong and endless, reminding me of the depth of your love. I cherish our moments together like Canadians cherish their hockey games – with passion and unwavering dedication.<br>
  <br>
    Your love is as vast and beautiful as the Rocky Mountains, and as warm as a cup of Tim Hortons coffee on a winter day. I am grateful for the way you light up my life like the Northern Lights dancing across the Canadian skies, painting our world with colors of love and happiness.<br>
    <br>
    Forever yours,
    Jacky P</p>
  </div>
</div>
