p {
    color: white;
}
h1{
    color: white;
}
.custom-shape-divider-top-1677853189 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 81;
}
.custom-shape-divider-top-1677853189 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
    opacity: 60%;
}
.custom-shape-divider-top-1677853189 .shape-fill {
    fill: #000000;
}
.navbar {
    position:absolute;
    top:0;
    z-index:80;
    width:100%;
}
.c-item{
    height: 100vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.my-carousel{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.resume-button{
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: larger;
}
.expertise-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width:80%;
    height: 80%;
}
.card-header{
    color: white;
    font-family: monospace;
}
