body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #0e0e0e;
    animation: fadeIn 1s ease;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
p, h1, , h2, h3, h4, h5 {
    color: white;
}
header{
    vertical-align: top;
    position: relative;
    z-index: 20;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sectionheader{
    text-align: center;
    font-size: 50px;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: opacity, filter 1s;
}
.hidden.left-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity, transform 0.5s, filter 1s;
}
.hidden.right-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: opacity, transform 0.5s, filter 1s;
}
.hidden.top-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: opacity, transform 0.5s, filter 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
    filter: blur(0);
}
.show.left-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.show.right-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.show.top-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.python-pill{
    background-color: rgb(98, 0, 255);
}
.rust-pill{
    background-color: rgb(255, 136, 0);
}
.top-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 20;
}
.top-shape svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
    opacity: 60%;
}
.top-shape .shape-fill {
    fill: #000000;
}
.footer-shape {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 15;
    opacity: 20%;
}
.footer-shape svg {
    position: relative;
    bottom: 0;
    display: block;
    width: calc(100% + 1.3px);
    height: 242px;
}
.footer-shape .shape-fill {
    fill: #ffffff;
}
.navbar {
    position:absolute;
    top:0;
    z-index:10;
    width:100%;
}
@mixin chunky-underline($color, $block: false, $size: 20%, $position: 0%) {
    background-image: linear-gradient(
      transparent 0%,
      transparent (100% - $size - $position),
      $color  (100% - $size - $position),
      $color (100% - $position),
      transparent (100% - $position),
      transparent
    );
}
.chonkyblue{
    @include chunky-underline(rgb(0, 140, 255), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkyorange{
    @include chunky-underline(rgb(255, 123, 0), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkygreen{
    @include chunky-underline(rgb(0, 160, 67), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkypurple{
    @include chunky-underline(rgb(174, 0, 255), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
