body {
    background-color: #131313;
	background-size: cover;
	height: 100%;
    width: 100%;
}
p {
    color: white;
}
h1{
    color: white;
}
footer{
    padding-top: 20%;
    position: relative;
    bottom: 0;
    left: 0;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: opacity, filter 1s;
}
.hidden.left-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity, transform 0.5s, filter 1s;
}
.hidden.right-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: opacity, transform 0.5s, filter 1s;
}
.hidden.top-slide{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: opacity, transform 0.5s, filter 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
    filter: blur(0);
}
.show.left-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.show.right-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.show.top-slide{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.python-pill{
    background-color: rgb(98, 0, 255);
}
.rust-pill{
    background-color: rgb(255, 136, 0);
}
.top-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 11;
}
.top-shape svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
    opacity: 60%;
}
.top-shape .shape-fill {
    fill: #000000;
}
.footer-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 11;
    opacity: 20%;
}

.footer-shape svg {
    position: relative;
    bottom: 0;
    display: block;
    width: calc(100% + 1.3px);
    height: 242px;
}

.footer-shape .shape-fill {
    fill: #ffffff;
}
.navbar {
    position:absolute;
    top:0;
    z-index:10;
    width:100%;
}
.c-item{
    height: 100vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.my-carousel{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3;
}
@keyframes wooshtext {
    0% {transform: translateY(0%);}
    100% {transform: translateY(10%);}
}
.caro-text{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    animation: wooshtext 3s alternate-reverse ease infinite;
}
.resume-button{
    font-size: larger;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    transition: transform 250ms;
}
.resume-button:hover{
    transform: translateY(5px);
    text-shadow: none;
}
.caro-shape {
    position: absolute;
    left: 0;
    top:100vh;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 11;
    opacity: 15%;
}
.caro-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}
.caro-shape .shape-fill {
    fill: #8b8b8b;
}
.about-desc{
    text-align: right;
    color: white;
    margin-left: 0;
}
.about-img{
    position: absolute;
    width: 30vw;
    height: 50vh;
    object-fit: cover;
    object-position: 80% 20%;
    margin-right: 0;
}
.expertise-container{
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 5vh;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,.1);
}
h5.expt{
    color: #8b8b8b;
}
b.expt{
    color: white;
}
.expertise{
    text-align: center;
}
.card-header{
    color: white;
    font-family: monospace;
}
.card:nth-child(2){
    transition-delay: 200ms;
}
.icon-wrapper{
    text-align: center;
}
.contacts-icon{
    filter: invert(1);
    height: 8%;
    width: 8%;
    padding-left: 25px;
    padding-right: 25px;
}
.expertise-frame{
    padding: 5% 5%;
    text-align: center;
}
@mixin chunky-underline($color, $block: false, $size: 20%, $position: 0%) {
    background-image: linear-gradient(
      transparent 0%,
      transparent (100% - $size - $position),
      $color  (100% - $size - $position),
      $color (100% - $position),
      transparent (100% - $position),
      transparent
    );
}
.chonkyblue{
    @include chunky-underline(rgb(0, 140, 255), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkyorange{
    @include chunky-underline(rgb(255, 123, 0), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkygreen{
    @include chunky-underline(rgb(0, 160, 67), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}
.chonkypurple{
    @include chunky-underline(rgb(174, 0, 255), true, 25%, 10%);
    display: inline;
    text-align: left;
    justify-content: center;
}

