.article-padding{
    padding-top: 20dvh;
}
.labelmod{
    color: white;
}
.coverimg{
    height: 400px;
}
.covercontainer{
    text-align: left;
}
.title{
    color: white;
    font-size: x-large;
    font-weight: bolder;
}
