.projectpic{
    vertical-align: middle;
    height:60vh;
    object-fit: cover;
    animation: fadeIn 2.5s ease;
}
.float-text{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    animation: wooshtext 3s alternate-reverse ease infinite;
    text-align: left;
}
.portfinish{
    border: 2px solid rgba(255,255,255,0.2);
}
.desc-container{
    background-image: url('assets/projects/portfolio/glassybox.png');
    object-fit: cover;
    text-align: center;
    width: 100dvw;
}
.desc-container::before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
#secondaryh1{
    filter: brightness(70%);
}
.projectwebpic{
    object-fit: cover;
    width: 40dvw;
    height: 100%;
}
