.projectpic{
    vertical-align: middle;
    height:60vh;
    object-fit: cover;
    animation: fadeIn 2.5s ease;
}
.float-text{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    animation: wooshtext 3s alternate-reverse ease infinite;
    text-align: left;
}
.portfinish{
    border: 2px solid rgba(255,255,255,0.2);
}
.glasscontainer{
    background-image: url('assets/projects/portfolio/glassybox.png');
    object-fit: cover;
    text-align: center;
    width: 100dvw;
}
#secondaryh1{
    filter: brightness(70%);
}
.projectwebpic{
    object-fit: cover;
    width: 40dvw;
    height: 100%;
}
.gradient {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}
.leftdiv{
    text-align: left;
}
.rightdiv{
    text-align: right;
}
.secondarytext{
    color: #c0c0c0;
}
